
.skills{
  margin-top: 50px;
}

.cardbox:hover{
  background-color: var(--clr-bg);
  overflow: hidden;
  transform: scale(1.2);
  box-shadow: rgba(0, 0, 0, 0.36) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border: 1px solid var(--clr-primary);
}


.skills1{
          text-decoration: underline;
          text-underline-offset: 10px;
          color: #081520;
          text-decoration-color: #081520;
          font-size: 24px;
          margin: auto;
          text-align: center;
          font-weight: bold;
          
}
.skillsbox{
    display: grid;
    grid-template-columns: repeat(6, 100px);
    width: 1000px;
    margin: auto;
    gap: 75px;
    text-align: center;
    margin-top: 100px;
    
}

@media (min-width: 481px) and (max-width: 768px) {
  .skillsbox{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    width: 80%;
    margin: auto;
    gap: 75px;
    text-align: center;
    margin-top: 100px;
    
}
}

@media screen and (max-width:480px) {
  .skillsbox{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    width: 80%;
    margin: auto;
    gap: 40px;
    text-align: center;
    margin-top: 100px;
    
}
}