.about{
    background-color: #081520;
    padding: 50px 0px 50px 0px;
    width: 100%;

}


.heading{
    margin: auto;
    text-decoration: underline;
    text-underline-offset: 10px;
    color: #66e0ff;
    text-decoration-color: #66e0ff;
    width: 70%;
    font-size: 24px;
    padding: 1rem;
    text-align: center;
    gap: 20px;
  
    
}
.about1{
    font-size: 20px;
    font-weight: normal ;
    color: #fffdfa;
    width: 65%;
    margin: auto;
    text-align: justify;
    
     
}
.about1>p{
    color: #fffdfa;
    
}
@media (min-width: 481px) and (max-width: 768px) {
    
}

@media screen and (max-width:480px) {

}