.myphoto:hover {
  transform: scale(1.12);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.36) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 50%;
}

.home {
  width: 100%;
  padding: 200px;
  padding-bottom: 100px;
  display: flex;
  gap: 1rem;
  background:#AFC0B7
}
.myphoto{
  margin: auto;
  width: 350px;
  border-radius: 50%;
}

.myname {
  width: 700px;
  color: #081520;
  font-weight: normal;
  
}


.myname>p{
  font-size: 30px;
 
}


.myname>h1 {
  line-height: 70px;
  font-size: 60px;
}

.Typewriter {
  font-size: 36px;
  font-weight: bold;
  color: #FF8300;
  margin: 10px 0px;

}
.btn{
  background: #FFFFFF;
  border: 1px solid #000;
  font-family: "montserrat",sans-serif;
  text-transform: uppercase;
  padding: 5px 20px;
  min-width: 100px;
  margin: 15px 0px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
}
.btn:hover{
  color: #fff;
  transform: scaleX(1);
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background:  #0010a4;
  z-index: -1;
  transform-origin: 0 0;
  transition: transform 1s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}
.btn1::before{
  transform: scaleX(0);
}
.btn1:hover::before{
  transform: scaleX(1);
}
.myname1{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 70%;
     
}

.icon1 {
  display: flex;
  gap: 20px;
}
.button-87:hover {
  background-position: right center;
  color: #fff;
  transform: scale(1.1);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.36) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 50px;
  text-decoration: none;
}

@media (min-width: 721px) and (max-width: 940px) {
  .home {
    width: 100%;
     padding: 50px 0px 50px 0px ;
    display: flex;
    flex-direction: column;
    background:#AFC0B7;
    gap: 40px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
  }
  .myname {

    color: #081520;
    font-weight: normal;
    margin: auto;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 10px;
    width: 100%;
    /* border: 1px solid red; */

  }
  .myname1{
    display: flex;
    justify-content: center;
    align-items: center;
     
 }
  
  .myname>p{
    font-size: 25px;
   
  }
  
  .myname>h1 {

    font-size: 50px;
    
  }
  myphoto{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
     
  }
}

@media (min-width: 481px) and (max-width: 720px){
  .home {
    width: 100%;
    padding: 50px 0px 50px 0px ;
    display: flex;
    flex-direction: column;
    background:#AFC0B7;
    gap: 40px;
    justify-content: center;
    align-items: center;
 
  }
  .myname {

    color: #081520;
    font-weight: normal;
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 10px;
  
  }
  .myname1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
 }
  
  .myname>p{
    font-size: 25px;
   
  }
  
  .myname>h1 {

    font-size: 50px;
    
  }
  myphoto{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
     
  }

}

@media screen and (max-width:480px) {
  .home {
    width: 100%;
    padding: 50px 0px 50px 0px ;
    display: flex;
    flex-direction: column;
    background:#AFC0B7;

  
  }
  .myname {

    color: #081520;
    font-weight: normal;
    margin: auto;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 10px;
    width: 50%;

  }
  
  .myname>p{
    font-size: px;
 
    margin: auto;
    width: 90%;
  }
  .myname1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
 
 }
  
  .myname>h1 {
    width: 90%;
    font-size: 40px;
    margin: auto;
  }
  .myname {
    width: 450px;
    color: #081520;
    font-weight: normal;
    width: 90%;
   
  }

  .Typewriter {
    font-size: 22px;
    font-weight: bold;
    color: #FF8300;
    width: 99%;
    margin: auto;
  }
  .myphoto{
    margin: auto;
    border-radius: 50%;
  }
  .myphoto:hover {
    transform: scale(1.12);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.36) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 50%;
  }
  
}
