.buttons {
  cursor: pointer;
}
.buttons::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  transition: 3s;
  transition: width 0.3s;
  background: black;
}
.buttons:hover::after {
  width: 100%;
}
.myname {
  width: 700px;
  /* height: 300px; */
  line-height: 200%;
}
.myphoto {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.button-87 {
  height: 40px;
  width: 40px;
  padding: 1px 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 50px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  transform: scale(1.1);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.36) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 50px;
  text-decoration: none;

}

.button-87:active {
  transform: scale(0.95);
}

.img1 {
  width: 100px;
  height: 70px;
padding-top: 20px;
  
}
.disc1 {
  width: 64%;
  text-align: justify;
  text-justify: inter-word;
  margin: auto;
  margin-top: 10px;
}
.skillsbox{
display: grid;
grid-template-columns: repeat(6, 100px);
width: 1000px;
margin: auto;
gap: 75px;
text-align: center;
margin-top: 100px;

}
